@model List<DataAccessLayer.Models.Car>

@{
    string[] carBrand = new string[Model.Count];
    var i = 0;
    foreach (var item in Model)
    {
        carBrand[i] = item.Make;
        i++;
    }
    var Brand = carBrand.Distinct().ToList();
}

    <ul class="product-filter">
        <li class="filterFav">
            <a id="All" onclick="filterMake('All')" style="cursor:pointer;">All</a>
        </li>
        @foreach (var item in Brand)
        {
            <li class="filterFav">
                <a id="@item" onclick="filterMake('@item')" style="cursor:pointer;">@item</a>
            </li>
        }

    </ul>

