@model ServiceReference.PagePart

<div class="parallax-container parallax1" data-parallax-img="https://agape.blob.core.windows.net/orgid-12583/bg-01-1600x600.jpg">
    <div class="parallax-content">
        <div class="section">
            <div class="container">
                <div class="row row-fix">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="figure-section">
                            @Html.Raw(Model.Body)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

