@model decimal
   

        <label class="rating-label">

            <input class="rating"
                   max="5"
                   readonly
                   step="0.01"
                   style="--fill:#777;--value:@Model"
                   type="range"
                   value="@Model">
        </label>
    