<section id="home" class="section swiper-container swiper-slider swiper-slider-1" data-loop="true"
         data-autoplay="false" data-simulate-touch="false" data-slide-effect="fade">


    <div class="swiper-wrapper text-right">
        <div class="swiper-slide context-dark" data-slide-bg="/images/slider-1-1920x1200.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xs-12"> <img src="/images/slider-1-A-500x500.jpg" alt="" class="slider-inner-img" /> </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12"> <img src="/images/slider-1-B-500x500.jpg" alt="" class="slider-inner-img" /> </div>
                        <div class="col-lg-4 col-sm-12 col-xs-12">
                            <h3> FIND YOUR DREAM CAR </h3>
                            <h4>BMW M5 GRAN TURISMO</h4>
                            <h4>Model 2017, $64,000</h4>
                            <a class="button mt-30"><span> SEE DETAILS</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide context-dark" data-slide-bg="images/slider-1-1920x1200.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xs-12"> <img src="/images/slider-2-A-500x500.jpg" alt="" class="slider-inner-img" /> </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12"> <img src="/images/slider-2-B-500x500.jpg" alt="" class="slider-inner-img" /> </div>
                        <div class="col-lg-4 col-sm-12 col-xs-12">
                            <h3> FIND YOUR DREAM CAR </h3>
                            <h4>AUDI A2 SERIES SPORTS</h4>

                            <h4>Model 2021, $55,000</h4>
                            <a class="button mt-30"><span> SEE DETAILS</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide context-dark" data-slide-bg="/images/slider-1-1920x1200.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-4 col-sm-6 col-xs-12"> <img src="/images/slider-3-A-500x500.jpg" alt="" class="slider-inner-img" /> </div>

                        <div class="col-lg-4 col-sm-6 col-xs-12"> <img src="/images/slider-3-B-500x500.jpg" alt="" class="slider-inner-img" /> </div>


                        <div class="col-lg-4 col-sm-12 col-xs-12">
                            <h3> FIND YOUR DREAM CAR </h3>
                            <h4>BENZ D4 DET SPORTZ</h4>

                            <h4>Model 2020, $29,000</h4>
                            <a class="button mt-30"><span> SEE DETAILS</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Swiper Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev fa-arrow-left"></div>
    <div class="swiper-button-next fa-arrow-right"></div>

</section>

@*<section class="form-section">
    <div class="container">
        <div class="slider-form">
            <div class="sidebar-form-wrapper">
                <div class="sidebar-form">
                    <form action="javascript:;" class="form2">
                        <div class="select1_wrapper">
                            <label>SELECT A MANUFACTURER</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Any Make</option>
                                    <option value="2">Alfa Romeo</option>
                                    <option value="3">Aston Martin</option>
                                    <option value="4">Audi</option>
                                    <option value="5">Bentley</option>
                                    <option value="6">BMW</option>
                                    <option value="7">Bugatti</option>
                                </select>
                            </div>
                        </div>
                        <div class="select1_wrapper">
                            <label>SELECT A MODEL</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Any Model</option>
                                    <option value="2">Model 1</option>
                                    <option value="3">Model 2</option>
                                    <option value="4">Model 3</option>
                                    <option value="5">Model 4</option>
                                    <option value="6">Model 5</option>
                                    <option value="7">Model 6</option>
                                </select>
                            </div>
                        </div>
                        <div class="select1_wrapper">
                            <label>SELECT A TYPE</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Any Type</option>
                                    <option value="2">Type 1</option>
                                    <option value="3">Type 2</option>
                                    <option value="4">Type 3</option>
                                    <option value="5">Type 4</option>
                                    <option value="6">Type 5</option>
                                    <option value="7">Type 6</option>
                                </select>
                            </div>
                        </div>


                        <div class="slider-range-wrapper">
                            <div class="txt">PRICE RANGE</div>
                            <div class="slider-range"></div>
                            <div class="clearfix">
                                <input type="text" class="amount" readonly="">
                                <input type="text" class="amount2" readonly="">
                            </div>
                        </div>
                        <button type="submit" class="btn-default btn-form2-submit">SUBMIT FILTERS</button>
                        <div class="reset-filters"><a href="#">RESET ALL FILTERS</a></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>*@