
@model IEnumerable<ServiceReference.FolderContent>

<div class="rd-navbar-main-outer">
    <div class="rd-navbar-main">

        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand">
                <a class="brand" href="/">
                    <img class="brand-logo-dark"
                         src="~/images/ShopCarHereLogo.png" alt="" />
                </a>
            </div>
        </div>


        <div class="rd-navbar-main-element">
            <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">

                    @foreach (var item in Model)
                    {
                        var class1="";
                        if (item.URL == "/Auctions")
                        {
                            class1 = "auction_class";
                        }
                        

                        <li class="rd-nav-item">
                            <a class="rd-nav-link @class1"  href="@item.URL">@item.Title</a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </div>
</div>
