<style>
    .link {
        text-align: center;
        padding: 45px;
        padding-top: 0;
    }

    .search-section h3 {
        text-align: center;
        padding: 15px;
        color: #cbb772;
        font-weight: bold;
    }
</style>

<div class="page-title"></div>

<div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 mbl-res" style="margin-top: -150px;">
    <h2 style="color: #cbb55f; font-size: 30px;">WELCOME TO BADASSCARZ ADMIN</h2>

</div>

<div class="header-fltr">
    <div class="col-sm-12 col-md-12 col-lg-12 bg-toolbar" style=" width: 100%;">
        <div style="text-align:right;">
            <div class="txt" style="float:right; padding-top: 5px;">
                PRINT &nbsp; <a href="#"> <i class="fa fa-print fa-lg"></i> </a> &nbsp;
                EMAIL &nbsp; <a href="#"> <i class="fa fa fa-envelope fa-lg"></i> </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-7 login-titl">
                <div class="search-section">
                    <h1> CONTENT AUTHOR MODULE </h1>
                    <h3>Click here to login</h3>
                    <div class="link">
                        <a href="/User/Profile" class="btn-default btn1">
                            <span>Login</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 login-titl">
                <img src="~/images/header-bg.png" />
            </div>
        </div>
    </div>
</div>